# Кэш данных 
cache_prices.csv
cache_returns_tr.csv

# Веса нейросетей
checkpoints/*.pt

# Чекпоинт бэктеста 
checkpoints/backtest_main.json

# Мета-файлы обучения 
# checkpoints/*_meta.json

# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Google Colab
.config/
drive/

# OS
.DS_Store
Thumbs.db
